%section.hero
  .hero-body
    .columns.is-multiline
      - @services.each do |service|
        .column.is-4
          .card.is-shady
            .card-content
              .content
                %h4= service.name
                %a{:href => service.url} Ver más
