%section.hero
  .hero-body
    .columns.is-multiline
      - @consent_clients.each do |consent_client|
        .column.is-4
          .card.is-shady
            .card-content
              .content
                %h4= consent_client.name
                %a{:href => consent_client.url} Ver más
