%section.hero
  .hero-body
    %h4.subtitle.is-4 Programa Marca
    .columns.is-multiline
      - @brands.each do |brand|
        .column.is-4
          .card.is-shady
            .card-content
              .content
                %h4= brand.name
                %a{:href => brand.url} Ver más
