%nav#navbar.navbar.has-shadow.is-spaced
  .container
    .navbar-brand
      %a.navbar-item{:href => "/"}
        %h1.isotipo Paola Eunice Valdez Marcos
    -# #navMenu.navbar-menu
    -#   .navbar-end
    -#     .navbar-item
    -#       .field.is-grouped.is-grouped-multiline
    -#         %p.control
    -#           %a.button.is-info{:href => "/"} Atras
