%nav#navbar.navbar.has-shadow.is-spaced
  .container
    .navbar-brand
      %a.navbar-item{:href => "/"}
        %h1.isotipo Paola Valdez
      #navbarBurger.navbar-burger.burger{"data-target" => "navMenu"}
        %span
        %span
        %span
    
